@import "framework/dist/semantic";

/*
//Colors
$white:     #fff;
$gray:      #737d86;
$lightblue: #264c74;
$black:     #212121;

//Colors-logo
$yellow: #ffb813;
$green:  #62b948;
$lightgreen: #ecf6e9;
$blue:   #3dc6f0;
$purple: #65399a;
$violet: #cd2789;

@import "header.scss";
@import "content.scss";
@import "footer.scss";
*/
